#### 2024년도 기준 데이터로 분석하기

In [1]:
# 데이터 파일을 가져오기 위해 구글 드라이브 마운트(코랩에서)
# from google.colab import drive

# 한글 폰트 설치와 설정

import platform
from matplotlib import font_manager, rc

#플랫폼 패키지는 현재 내 컴퓨터의 os가 무엇인지 코드로 확인하는 패키지
#맥과 윈도우에서 다 사용할 수 있는 코드
#윈도우용 코드만 가져다 써도됨
if platform.system() == 'Darwin':   #macOS
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':   #WINDOWS
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:   #LINUX
    print('Unknown system... sorry~~~~') 
    

import matplotlib.pyplot as plt
plt.rc('font', family='Malgun Gothic')

In [36]:
# 새로운 데이터 가져오기 - 인구수
import pandas as pd
pop_seoul_2024 = pd.read_csv('2024등록인구.csv', header=1)
pop_seoul_2024.drop([0,1],inplace=True)
pop_seoul_2024.reset_index(inplace=True, drop=True)
pop_seoul_2024

,동별(1),동별(2),세대 (세대),계 (명),계 (명).1,계 (명).2,한국인 (명),한국인 (명).1,한국인 (명).2,등록외국인 (명),등록외국인 (명).1,등록외국인 (명).2,세대당인구 (명),65세이상고령자 (명)
0,합계,종로구,72394,150204,71684,78520,139189,67005,72184,11015,4679,6336,1.92,29338
1,합계,중구,65273,131800,63383,68417,121475,58582,62893,10325,4801,5524,1.86,26516
2,합계,용산구,104187,219451,105752,113699,206061,98564,107497,13390,7188,6202,1.98,39021
3,합계,성동구,133233,283853,136993,146860,276597,133939,142658,7256,3054,4202,2.08,50534
4,합계,광진구,170469,350005,166736,183269,334159,160329,173830,15846,6407,9439,1.96,58307
5,합계,동대문구,173903,360066,174065,186001,341345,167147,174198,18721,6918,11803,1.96,68503
6,합계,중랑구,188664,386782,188839,197943,381126,186600,194526,5656,2239,3417,2.02,81160
7,합계,성북구,197371,436666,207814,228852,424194,203323,220871,12472,4491,7981,2.15,81965
8,합계,강북구,143075,290252,139521,150731,285054,137733,147321,5198,1788,3410,1.99,69922
9,합계,도봉구,138849,308060,148775,159285,305400,147847,157553,2660,928,1732,2.20,72365
10,합계,노원구,218369,500045,239443,260602,495183,237415,257768,4862,2028,2834,2.27,98515
11,합계,은평구,216345,468976,221990,246986,464738,220328,244410,4238,1662,2576,2.15,96177
12,합계,서대문구,147312,320010,149129,170881,305369,144660,160709,14641,4469,10172,2.07,59275
13,합계,마포구,181651,373980,173121,200859,363029,169292,193737,10951,3829,7122,2.00,59004
14,합계,양천구,180679,436595,212591,224004,433307,211254,222053,3288,1337,1951,2.40,78399
15,합계,강서구,274010,565133,270394,294739,559335,267927,291408,5798,2467,3331,2.04,105023
16,합계,구로구,184097,413099,203345,209754,390169,191177,198992,22930,12168,10762,2.12,81973
17,합계,금천구,121223,240153,121075,119078,226672,114031,112641,13481,7044,6437,1.87,46764
18,합계,영등포구,192064,397771,195198,202573,375040,183512,191528,22731,11686,11045,1.95,69230
19,합계,동작구,187662,389541,187445,202096,378324,182931,195393,11217,4514,6703,2.02,71823
20,합계,관악구,286338,497632,248813,248819,481145,242251,238894,16487,6562,9925,1.68,87267
21,합계,서초구,170464,411959,196029,215930,407404,193838,213566,4555,2191,2364,2.39,67191
22,합계,강남구,245046,562136,268628,293508,556570,266101,290469,5566,2527,3039,2.27,89719
23,합계,송파구,287380,658768,315963,342805,652752,313205,339547,6016,2758,3258,2.27,111724
24,합계,강동구,205956,466924,227732,239192,462646,225871,236775,4278,1861,2417,2.25,85571

In [37]:
# 불필요한 열과 행 삭제

# 1. 불필요한 컬럼삭제하기
pop_seoul_2024.drop(pop_seoul_2024.iloc[:,[0,2,4,5,7,8,10,11,12]], axis = 1, inplace=True)

# 2. 삭제해도 되지만 쓸 열만 골라내보자 
# pop_seoul_2024.iloc[:,[1,3,6,9,13]]

pop_seoul_2024

   동별(2)   계 (명) 한국인 (명) 등록외국인 (명) 65세이상고령자 (명)
0    종로구  150204  139189     11015        29338
1     중구  131800  121475     10325        26516
2    용산구  219451  206061     13390        39021
3    성동구  283853  276597      7256        50534
4    광진구  350005  334159     15846        58307
5   동대문구  360066  341345     18721        68503
6    중랑구  386782  381126      5656        81160
7    성북구  436666  424194     12472        81965
8    강북구  290252  285054      5198        69922
9    도봉구  308060  305400      2660        72365
10   노원구  500045  495183      4862        98515
11   은평구  468976  464738      4238        96177
12  서대문구  320010  305369     14641        59275
13   마포구  373980  363029     10951        59004
14   양천구  436595  433307      3288        78399
15   강서구  565133  559335      5798       105023
16   구로구  413099  390169     22930        81973
17   금천구  240153  226672     13481        46764
18  영등포구  397771  375040     22731        69230
19   동작구  389541  378324     11217        71823
20   관악구  497632  481145     16487        87267
21   서초구  411959  407404      4555        67191
22   강남구  562136  556570      5566        89719
23   송파구  658768  652752      6016       111724
24   강동구  466924  462646      4278        85571

In [63]:
# 컬럼명 변경하기 

pop_seoul_2024.columns = ['구별','인구','한국인','외국인','고령자']
pop_seoul_2024


pop_seoul_2024.head()
pop_seoul_2024.tail()

     구별      인구     한국인    외국인     고령자
20  관악구  497632  481145  16487   87267
21  서초구  411959  407404   4555   67191
22  강남구  562136  556570   5566   89719
23  송파구  658768  652752   6016  111724
24  강동구  466924  462646   4278   85571

#### cctv데이터

In [64]:
cctv_2024 = pd.read_excel('2024CCTV(연도별).xlsx',header=2,usecols='C,D,E,F,G,H,I,J,K,L,M,N')
cctv_2024

#첫 행 삭제
cctv_2024.drop([0],inplace=True)

In [65]:
cctv_2024.reset_index(drop=True)

,구분,총 계,2016년 이전 설치된 CCTV,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,2024년\n6.30.
0,종로구,2290,230,100,140,140,66,233,85,219,919,158
1,중 구,3021,376,220,366,381,155,357,414,137,135,480
2,용산구,3300,106,295,491,147,335,473,486,413,492,62
3,성동구,4514,542,278,939,457,640,483,366,233,471,105
4,광진구,4156,403,42,666,460,712,191,740,273,340,329
5,동대문구,3446,0,657,670,199,215,229,226,317,755,178
6,중랑구,4512,479,153,170,215,1074,976,507,294,644,0
7,성북구,4543,320,380,382,758,662,206,398,353,414,670
8,강북구,3584,44,196,1,352,942,552,410,658,376,53
9,도봉구,2378,3,68,80,152,149,156,552,557,661,0
10,노원구,3111,592,304,160,207,318,383,213,161,626,147
11,은평구,5027,841,493,361,579,979,386,520,481,387,0
12,서대문구,3799,505,304,546,364,401,613,425,213,422,6
13,마포구,3361,244,446,368,364,494,298,177,124,837,9
14,양천구,4447,220,418,566,827,321,352,347,386,1010,0
15,강서구,3627,491,165,415,259,454,362,441,601,424,15
16,구로구,5449,607,332,535,537,780,749,683,337,497,392
17,금천구,3170,92,130,196,539,366,514,207,304,822,0
18,영등포구,4697,727,284,356,673,66,1305,288,433,434,131
19,동작구,3315,485,228,267,320,312,433,44,362,446,418
20,관악구,5842,1025,607,675,663,889,404,549,135,602,293
21,서초구,5395,779,514,1022,422,339,419,565,878,457,0
22,강남구,7721,1486,1280,981,735,787,913,505,588,446,0
23,송파구,4126,370,129,239,525,1042,237,148,380,943,113
24,강동구,3549,725,202,273,377,356,614,262,381,359,0

In [66]:
#컬럼명 변경
# cctv_2024.columns
cctv_2024.columns = ['구별', 'cctv대수', '2016년이전CCTV ', '2016년', '2017년', '2018년', '2019년',
       '2020년', '2021년', '2022년', '2023년', '2024년2분기']

In [67]:
cctv_2024.head()

,구별,cctv대수,2016년이전CCTV,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,2024년2분기
1,종로구,2290,230,100,140,140,66,233,85,219,919,158
2,중 구,3021,376,220,366,381,155,357,414,137,135,480
3,용산구,3300,106,295,491,147,335,473,486,413,492,62
4,성동구,4514,542,278,939,457,640,483,366,233,471,105
5,광진구,4156,403,42,666,460,712,191,740,273,340,329

In [68]:
pop_cctv = pd.merge(cctv_2024,pop_seoul_2024,on = '구별')
pop_cctv.head()

pop_

,구별,cctv대수,2016년이전CCTV,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,2024년2분기,인구,한국인,외국인,고령자
0,종로구,2290,230,100,140,140,66,233,85,219,919,158,150204,139189,11015,29338
1,용산구,3300,106,295,491,147,335,473,486,413,492,62,219451,206061,13390,39021
2,성동구,4514,542,278,939,457,640,483,366,233,471,105,283853,276597,7256,50534
3,광진구,4156,403,42,666,460,712,191,740,273,340,329,350005,334159,15846,58307
4,동대문구,3446,0,657,670,199,215,229,226,317,755,178,360066,341345,18721,68503

In [72]:
# 목적별 cctv 개수 파일 가져오기 

cctv_purpose = pd. read_excel('2024CCTV(목적별).xlsx', usecols='B,D,E,F,G,H', header=3 )
cctv_purpose.head()


# 자치구 행 삭제
cctv_purpose.drop([0], inplace=True)
# 인덱스 재정렬
cctv_purpose.reset_index(drop=True)
# 컬럼명 변경
cctv_purpose.columns = ['구별','cctv개수','방범cctv','어린이보호구역cctv','공원cctv','쓰레기무단투기cctv']

cctv_purpose.head()
cctv_purpose.tail()



# 코로나로 인해 귀가시간이 빨라지는 현상
# 지하철 승객 정보로 확인해볼 수 있을 듯 


# 상권과 지하철 승하차 정보

     구별  cctv개수  방범cctv  어린이보호구역cctv  공원cctv  쓰레기무단투기cctv
21  관악구    4269    3563          253     306          147
22  서초구    3343    2810          203     330            0
23  강남구    6829    5236         1117     476            0
24  송파구    3519    2295          453     771            0
25  강동구    3435    2963          254     218            0